
<!-- Footer -->
<footer style="color:white;" class="footer bg-dark font-small mdb-color pt-1">

  <!-- Footer Links -->
  <div style="text-align:left;" class="container text-md-left">

    <!-- Footer links -->
    <div class="row text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">About</h6>
        <p>  Welcome to Mr Robot Bank's loan checker. We offer the eveyone the opportunity to apply for a loan at Mr Robot Bank. We have a system that allow you to see whether you qualify for a loan or not. Don't hesitate, you're only one click away.</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact:</h6>
        <p>Bellville, Cape Town, South Africa</p>
				<p>Email: loan@mr_robot.bank</p>
        <p>Phone: + 27 234 567 88</p>
        <p>Fax: + 27 234 567 89</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <!-- Grid row -->
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
