{% extends 'base.html' %}
{% load static %}
{% block content%}
  <div class="homepage_details container">
      <div class="row text-left mt-5">
              
      <div class="col-sm mt-5">
          <h1>How it works</h1>
					<br>
          <p class="lead"><b style="padding:10px;background-color: #000;color:white">1&nbsp;</b>&nbsp;we take all your personal information that you have provided us gracefully with don't worry its safe us!</p>
          <br><br>
          <p class="lead"><b style="padding:10px;background-color: #000;color:white">2&nbsp;</b>&nbsp;Use our sophisticated data processing techniques to evaluate your financial background.</p>
          <br><br>
          <p class="lead"><b style="padding:10px;background-color: #000;color:white">3&nbsp;</b>&nbsp;Poof!, our  system then  gives you an Answer.</p>
 
      </div>
			
      </div>
      &nbsp;
  </div>
{% endblock%}
