{% extends 'base.html' %}
{% load static %}
{% block content%}

  <div class="homepage container">
      <div class="row text-left mt-5">
              
      <div class="col-sm mt-5">
          <h1>Loan Tips</h1>
					<br>
          <p class="lead">
            Take a Loan Only When Absolutely Necessary<br>
A personal loan should only be taken after a thorough assessment of your requirements and already existing loan/repayment commitments. It is important to understand that while a loan will help you pay for your short-term goals, it will be an additional payment for the next few months/years that you will have to do without fail. Hence, it is imperative to ensure that you will be able to make the monthly payments within your monthly income.
<br>
<br>
<h4>Research Thoroughly Before Applying</h4><br>
With the increase in the number of personal loan providers and their bold claims, it is possible to get swept away with the most attractive loan offer without reading the terms and conditions carefully. Hence, it is essential to do thorough research before selecting your personal loan. Ensure that you compare features such as interest rates, loan tenure, processing fees, etc. and pick the loan provider that matches your financial needs.
<br>
<br>
<h4>Look for Lowest Interest Rate</h4><br>
Personal loans generally have high-interest rates owing to the fact that there is no collateral taken as a guarantee. As the interest to be paid is high, even a small difference in the interest rate can mean a huge difference in the total amount you would have to pay as interest. This makes it very important to look for loan providers that can offer you a good deal on interest rate based on your credit score and requirements. Enjoy best interest rates with Standard Chartered Personal Loans!
<br>
<br>
<h4>Check Eligibility Criteria</h4><br>
Before you narrow down on the bank and the loan that best suits your needs, make sure you check that you meet the eligibility criteria of the loan you’re interested in. One of the most important eligibility criteria is your income and credit score, as these indicate your loan repayment ability. The higher your income and credit score is, the more likely you are to get a personal loan for a higher amount
<br>
<br>
<h4>Maintain High Credit Score</h4><br>
Along with your income, a high credit score will definitely boost your chances of getting a personal loan with the desired interest rate and tenure. This is because a low credit score will be an indication of a poor repayment history causing banks to be apprehensive about granting loans to you. Therefore, it is very critical to clear all your debts and pending credit card bills prior to a new loan application.
<br>
<br>
<h4>Be Careful of Additional Charges</h4><br>
Before you settle with one bank to apply for your personal loan, make sure you take into consideration other factors apart from just the interest rate and duration, such as processing fees. Get personal loans up to INR 50 lakh at attractive processing fee with Standard Chartered for online applications!
<br>
<br>
<h4>Check Prepayment Charges</h4><br>
Prepayment is the settlement of the loan prior to the official due date; either by paying the full amount or settling a part of the repayment. Although prepayment option is only allowed by certain banks and loan providers, it usually requires the borrower to make an additional payment and can only to be done after 12 months of the loan being sanctioned. It is important to go through the prepayment terms and conditions prior to finalising your personal loan.
<br>
<br>
<h4>Make Timely Repayments</h4><br>
Any loan or credit you take is a commitment to repay it diligently and without fail for months/years. Timely repayments not only prevent you from unwanted penalties, but it will also ensure your credit score does not get impacted negatively. Maintaining a good repayment history is crucial in maintaining a high credit score, which will only help you in the future for availing any more credit/loan.
<br>
<br>
<h4>Shorten the Loan Tenure</h4><br>
You might come across loan providers who allow very long repayment periods low EMI options, which might be very tempting. But, it is worth noting that in such long-term loans, the total interest you will have to pay can be very high.

 </p>
					
      </div>
			
      </div>
      &nbsp;
  </div>
{% endblock%}
