{% extends 'base.html' %}
{% load static %}
{% block content%}

  <div class="homepage container">
      <div class="row text-center mt-5">
              
      <div class="col-sm mt-5">
          <h1>Terms & Conditions</h1>
					<br>
          <p class="lead">Standard Terms and Conditions of Loan Agreement<br>
            1.Terms and definitions Base Rate–the periodically changing part of the Interest Rate,
             which  is  determined  according  to  the  type  of  the Base Rate.
            Type of Base Rate–eithersix (6) month EURIBOR
            KPB or any  other  periodically  changing  type  of  interest  agreed between the Parties.
            EURIBOR(“European  Interbank  Offered  Rate”) –the pan-European interbank interest rate  by which the  lead-ing banks 
            of the European interbank money market offer each other fixed-term deposits; six (6) month EURIBOR –c
            orrespondingly the interest rate offered todeposits with a 6-month term. EURIBOR  is, inter alia, published on the page
            EURIBOR01 of the REUTERS information system or a page replacing it, according to the rules of the European interbank money market.
            Interest –a fee payable by the Borrower to theBank for the use of the Credit Amount.
            Interest  Rate–the  amount  of  Interest  per  year  estab-lished 
            in the Agreement and calculated as a percentage of the outstanding
            Credit Amount which comprises the Base Rate and the Margin specified 
            in the Agreement.

            Interest  Rate  Amendment  Dates–the  days  when  the Base  Rate  is  fixed  according  to  the  Agreement 
            for  the subsequent period between the Interest Rate Amendment Dates. KPB–the  base rate  of  
            Coop Pank AS  established by the Bank.  KPB  is  quoted  and  publishedby  the  Bank  on  its website
            www.cooppank.ee  on  each  Banking  Day  taking into consideration the current level of the money market interests 
            and   the   general   economic   environment   in Estonia and worldwide. </p>
					
      </div>
			
      </div>
      &nbsp;
  </div>
{% endblock%}
